body {
  text-align: center;
}

button {
  background-color: red;
  color: white;

  /* 👇 YOUR CODE HERE 👇 */
}
button{margin:20px;
       padding:10px;
       border:double;
       border-width:3px;
       border-color:darkgray;
}
